body{background: #f1f1f1;}
.Car{width: 100%;}
.Car .car-top{height: 3.5rem;width: 100%;background: #aace52;color: #fff;margin-bottom: .3rem;}
.Car .car-top span{text-align: center;text-align: center;display: inherit;font: 1rem/3.5rem "";color: #333;}


